# Assignment 3 (Week 3)

>**Note**: Late submissions are ***`penalized`***.

## Name: Elijah Vande

<br>

### Please show and display all your calculations and results.

In [ ]:
pip install nb_black
%load_ext nb_black

In [ ]:
# Standard imports
import numpy as np
import pandas as pd

# pandas settings
pd.options.display.max_rows = 1_000
pd.options.display.max_columns = 1_000
pd.options.display.max_colwidth = 1_000

# Black code formatter (Optional)
# %load_ext lab_black

## Qs 1

**a.** Given that 

```python
x = np.linspace(0, 10, 10001)
```

using **ONLY** `NumPy`, write an equation that calculates `y`. `y` is calculated using the equation below:
 
$$
y = \exp^{(\frac{-x}{10})}*\sin{(x)}
$$

<br>

**b.** Write a NumPy code that calculates: 

$$
result = \frac{\sum{((x - \bar{x}) * (y - \bar{y}))}}{\sum{(x - \bar{x})^2}}
$$


`X` and `y` are given below:

```python
rng = np.random.default_rng(seed=5)
X = rng.random(size=(35, 2), dtype=np.float32)
y = rng.random(size=(35, 1), dtype=np.float32)
```

## Question 1A Answer

In [ ]:
# Question 1A Answer
x = np.linspace(0, 10, 10001)
y = np.exp(-x/10) * np.sin(x)
print(y)

[ 0.          0.0009999   0.0019996  ... -0.19955634 -0.19984539
 -0.20013418]

## Question 1B Answer

In [ ]:
# Question 1B Answer
rng = np.random.default_rng(seed=5)
X = rng.random(size=(35, 2), dtype=np.float32)
y = rng.random(size=(35, 1), dtype=np.float32)

x_mean = np.mean(X[:, 0])
y_mean = np.mean(y)

numerator = np.sum((X[:, 0] - x_mean) * (y - y_mean))
denominator = np.sum((X[:, 0] - x_mean) ** 2)

result = numerator / denominator
print(result)

-1.2829544e-07

## Qs 2

Given the **`4-D`** array below:

```python
rng = np.random.default_rng(seed=5)
X = rng.random(size=(16, 3), dtype=np.float32).reshape(2, 4, 2, 3)
```

Find:

**a.** 0.1777215

**b.** 0.51532555

In [ ]:
rng = np.random.default_rng(seed=5)
X = rng.random(size=(16, 3), dtype=np.float32).reshape(2, 4, 2, 3)

## Question 2A Answer

In [ ]:
# Finding the index of 0.1777215
index_a = np.where(X == 0.1777215)
print("Index of 0.1777215:", index_a)

Index of 0.1777215: (array([14]), array([0]))

## Question 2B Answer

In [ ]:
# Finding the index of 0.51532555
index_b = np.where(X == 0.51532555)
print("Index of 0.51532555:", index_b)

Index of 0.51532555: (array([2]), array([1]))

## Qs 3

Using Pandas, find the number of employees that:

**a.** Write a query/code that determines the employees that are older than **30** years and their job role is either **manager** or **research director** or **manufacturing director** and have a **performance rating** greater than **3**.

**b.** Create a new column that combines `technical degree`, `other` and `human resources` from **`education field`** into a new label called **others**. i.e the resulting column should have four (4) unique labels namely: **`life sciences`**, **`medical`**, **`marketing`** and **`others`**. Hint: Use `.apply()`

**c.** Write a code that splits the data into **numerical** and **categorical** data. Display the **first 5 rows** of your results on separate cells using `.head()`. 

#### The data can be found [here](https://drive.google.com/file/d/1SSOdAGm0nCpPhKCqA1rgW00mwpseL7Dj/view?usp=share_link)

In [ ]:
df = pd.read_csv("/content/HR_Employee_reduced.csv")
df.head(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,JobRole,EnvironmentSatisfaction,Gender,PerformanceRating,HourlyRate,JobInvolvement,JobLevel
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,Sales Executive,2,Female,3,94,3,2
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,Research Scientist,3,Male,4,61,2,2
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,Laboratory Technician,4,Male,3,92,2,1

In [ ]:
df.shape

(1470, 17)

In [ ]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'JobRole', 'EnvironmentSatisfaction', 'Gender',
       'PerformanceRating', 'HourlyRate', 'JobInvolvement', 'JobLevel',
       'education_combined'],
      dtype='object')

## Question 3A Solution

In [ ]:
result = df[
    (df["Age"] > 30)
    & (df["JobRole"].isin(["Manager", "Research Director", "Manufacturing Director"]))
    & (df["PerformanceRating"] > 3)
]
result.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,JobRole,EnvironmentSatisfaction,Gender,PerformanceRating,HourlyRate,JobInvolvement,JobLevel
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,Manufacturing Director,4,Male,4,44,2,3
60,32,No,Travel_Rarely,427,Research & Development,1,3,Medical,1,78,Manufacturing Director,1,Male,4,33,3,2
75,31,No,Travel_Rarely,746,Research & Development,8,4,Life Sciences,1,98,Manufacturing Director,3,Female,4,61,3,2
105,59,No,Non-Travel,1420,Human Resources,2,4,Human Resources,1,140,Manager,3,Female,4,32,2,5
135,36,No,Travel_Rarely,216,Research & Development,6,2,Medical,1,178,Manufacturing Director,2,Male,4,84,3,2

In [ ]:
# Finding out the actual number of employees that satisfies the given condintions
num_employees = len(result)
print(f" {num_employees} employees satisfy the given conditions")

 46 employees satisfy the given conditions

## Question 3B Answer

In [ ]:
# Question 3B Solution

# create a function to combine the education fields
def combine_fields(field):
    if field in ["Life Sciences", "Medical"]:
        return field
    elif field == "Technical Degree" or field == "Other" or field == "Human Resources":
        return "Others"
    else:
        return "Unknown"

# create the new column by applying the function to the education field column
educationCombined = df['education_combined'] = df['EducationField'].apply(combine_fields)

# print the resulting DataFrame
educationCombined.head(10)

0    Life Sciences
1    Life Sciences
2           Others
3    Life Sciences
4          Medical
5    Life Sciences
6          Medical
7    Life Sciences
8    Life Sciences
9          Medical
Name: EducationField, dtype: object

## Question 3C Answer

In [ ]:
# select numerical columns
num_cols = ['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount', 'EmployeeNumber',
            'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'PerformanceRating']

num_data = df[num_cols]

# select categorical columns
cat_cols = ['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole']

cat_data = df[cat_cols]

## 3C (i) The first 5 rows of the numerical data

In [ ]:
# print the first 5 rows of the numerical data
num_data.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,PerformanceRating
0,41,1102,1,2,1,1,2,94,3,2,3
1,49,279,8,1,1,2,3,61,2,2,4
2,37,1373,2,2,1,4,4,92,2,1,3
3,33,1392,3,4,1,5,4,56,3,1,3
4,27,591,2,1,1,7,1,40,3,1,3

## 3C(ii) The first 5 rows of the categorical data

In [ ]:
# print the first 5 rows of the categorical data
cat_data.head()

,Attrition,BusinessTravel,Department,EducationField,Gender,JobRole
0,Yes,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive
1,No,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist
2,Yes,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician
3,No,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist
4,No,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician

## Qs 4

Given the data below:

```python
salary = [74454, 54900, 76182, 56221, 81254, 75900, 67122, 62426, 61553,
       77070, 67587, 50095, 75820, 68174, 79069]
students = [
    "Sadiq",
    "Aminu",
    "Udensi",
    "Olayiwola",
    "Ukpeh",
    "Akinbade",
    "Ezeofor",
    "Oludele",
    "Gbenga",
    "Edgar",
    "Worlu",
    "Magbuwe",
    "Atte",
    "Orogun",
    "Bamigbade"
]

roles = [
    "Data Engineer",
    "Data Scientist",
    "DevOps Engineer",
    "Research Engineer",
    "Analytical Engineer",
    "Data Analyst",
    "ML Engineer",
    "DevOps Engineer",
    "Analytical Engineer",
    "Data Scientist",
    "MLOps Engineer",
    "Data Engineer",
    "Data Scientist",
    "ML Engineer",
    "Research Engineer",
]
```

**a.** Create a `DataFrame` using the lists above. The column names should be: `name` , `job_role` and `salary`.

**b.** Create a new column **`title`** that has has 2 new labels `Engineer` and `Analyst/Scientist` if the person has `engineer` or `analyst/scientist` in their job role.

**c.** What is the mean and median salary per `title`?

## Question 4A Answer

In [ ]:
# Question 4A Answer

salary = [74454, 54900, 76182, 56221, 81254, 75900, 67122, 62426, 61553, 77070, 67587, 50095, 75820, 68174, 79069]
name = ["Sadiq", "Aminu", "Udensi", "Olayiwola", "Ukpeh", "Akinbade", "Ezeofor", "Oludele", "Gbenga", "Edgar", "Worlu", "Magbuwe", "Atte", "Orogun", "Bamigbade"]
job_role = ["Data Engineer", "Data Scientist", "DevOps Engineer", "Research Engineer", "Analytical Engineer", "Data Analyst", "ML Engineer", "DevOps Engineer", "Analytical Engineer", "Data Scientist", "MLOps Engineer", "Data Engineer", "Data Scientist", "ML Engineer", "Research Engineer"]

data = {"name": name, "job_role": job_role, "salary": salary}
df = pd.DataFrame(data)

print(df)

         name             job_role  salary
0       Sadiq        Data Engineer   74454
1       Aminu       Data Scientist   54900
2      Udensi      DevOps Engineer   76182
3   Olayiwola    Research Engineer   56221
4       Ukpeh  Analytical Engineer   81254
5    Akinbade         Data Analyst   75900
6     Ezeofor          ML Engineer   67122
7     Oludele      DevOps Engineer   62426
8      Gbenga  Analytical Engineer   61553
9       Edgar       Data Scientist   77070
10      Worlu       MLOps Engineer   67587
11    Magbuwe        Data Engineer   50095
12       Atte       Data Scientist   75820
13     Orogun          ML Engineer   68174
14  Bamigbade    Research Engineer   79069

## Question 4B Answer

In [ ]:
# 4B Solution

salary = [74454, 54900, 76182, 56221, 81254, 75900, 67122, 62426, 61553, 77070, 67587, 50095, 75820, 68174, 79069]
name = ["Sadiq", "Aminu", "Udensi", "Olayiwola", "Ukpeh", "Akinbade", "Ezeofor", "Oludele", "Gbenga", "Edgar", "Worlu", "Magbuwe", "Atte", "Orogun", "Bamigbade"]
job_role = ["Data Engineer", "Data Scientist", "DevOps Engineer", "Research Engineer", "Analytical Engineer", "Data Analyst", "ML Engineer", "DevOps Engineer", "Analytical Engineer", "Data Scientist", "MLOps Engineer", "Data Engineer", "Data Scientist", "ML Engineer", "Research Engineer"]

data = {"name": name, "job_role": job_role, "salary": salary}
df = pd.DataFrame(data)

# Create the title column based on job_role
df['title'] = df['job_role'].apply(lambda x: 'Engineer' if 'Engineer' in x else 'Analyst/Scientist' if ('Analyst' in x or 'Scientist' in x) else 'Other')

print(df)

         name             job_role  salary              title
0       Sadiq        Data Engineer   74454           Engineer
1       Aminu       Data Scientist   54900  Analyst/Scientist
2      Udensi      DevOps Engineer   76182           Engineer
3   Olayiwola    Research Engineer   56221           Engineer
4       Ukpeh  Analytical Engineer   81254           Engineer
5    Akinbade         Data Analyst   75900  Analyst/Scientist
6     Ezeofor          ML Engineer   67122           Engineer
7     Oludele      DevOps Engineer   62426           Engineer
8      Gbenga  Analytical Engineer   61553           Engineer
9       Edgar       Data Scientist   77070  Analyst/Scientist
10      Worlu       MLOps Engineer   67587           Engineer
11    Magbuwe        Data Engineer   50095           Engineer
12       Atte       Data Scientist   75820  Analyst/Scientist
13     Orogun          ML Engineer   68174           Engineer
14  Bamigbade    Research Engineer   79069           Engineer

## Question 4C Solution

In [ ]:
# 4C Solution

salary = [74454, 54900, 76182, 56221, 81254, 75900, 67122, 62426, 61553, 77070, 67587, 50095, 75820, 68174, 79069]
name = ["Sadiq", "Aminu", "Udensi", "Olayiwola", "Ukpeh", "Akinbade", "Ezeofor", "Oludele", "Gbenga", "Edgar", "Worlu", "Magbuwe", "Atte", "Orogun", "Bamigbade"]
job_role = ["Data Engineer", "Data Scientist", "DevOps Engineer", "Research Engineer", "Analytical Engineer", "Data Analyst", "ML Engineer", "DevOps Engineer", "Analytical Engineer", "Data Scientist", "MLOps Engineer", "Data Engineer", "Data Scientist", "ML Engineer", "Research Engineer"]
title = ['Engineer' if 'Engineer' in x else 'Analyst/Scientist' if ('Analyst' in x or 'Scientist' in x) else 'Other' for x in job_role]

data = {"name": name, "job_role": job_role, "salary": salary, "title": title}
df = pd.DataFrame(data)

# Group by title and calculate mean and median salary
title_salary_mean = df.groupby('title')['salary'].mean()
title_salary_median = df.groupby('title')['salary'].median()

print('Mean salary per title:')
print(title_salary_mean)
print('\nMedian salary per title:')
print(title_salary_median)

Mean salary per title:
title
Analyst/Scientist    70922.500000
Engineer             67648.818182
Name: salary, dtype: float64

Median salary per title:
title
Analyst/Scientist    75860.0
Engineer             67587.0
Name: salary, dtype: float64